
  



<div class="d-flex justify-content-center mt-5">
    <mat-card >
        <div class="brand-box w-100 mb-3">
            <div class="logo1 brand m-auto">
              <a href="#">brand name</a>
            </div>
          </div>


      <mat-card-content>

        
        <form class="d-flex flex-column ">
            <mat-form-field >
                <input matInput class="w-100" placeholder="email" [(ngModel)]="email" name="email" required>
                </mat-form-field>
        </form>
  

        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>


      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button class="w-100 mb-2" (click)="login()" color="primary">Reset Password</button>

        <div class="d-flex justify-content-center">
            <button mat-raised-button routerLink="../login"  >Back to Login</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>