<div class="row">
        <div class="col-md-6">
                <mat-card>        
                        <form [formGroup]="formGroup">
                
                                <dynamic-material-form
                                [group]="formGroup"
                                [layout]="formLayout"
                                [model]="formModel"
                                (blur)="onBlur($event)"
                                (change)="onChange($event)"
                                (focus)="onFocus($event)"
                                (matEvent)="onMatEvent($event)"></dynamic-material-form>
                
                        </form>
                </mat-card>
        </div>
        
        <div class="col-md-6">
                <pre>{{formGroup.value | json}}</pre>
        </div>
        
        </div>

