<div class="row">

  <div class="col-12">
    <mat-card class="mt-3 mb-3">
      <h5>User Dropdown</h5>
      <mat-toolbar>
        <div class="ml-auto d-flex align-items-center">
          <user-dropdown *ngIf="user" [user]="user"></user-dropdown>
        </div>
      </mat-toolbar>
    </mat-card>

    <mat-card class="mt-3 mb-3">
      <h5>Collapse menu</h5>
      <side-menu [menuItems]="menuItems"></side-menu>
    </mat-card>


    <mat-card class="mt-3 mb-3">
      <h5>Breadcrumbs</h5>
      <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>
    </mat-card>



    <mat-card class="mt-3 mb-3">
      <h5>Avatars</h5>
      <div class="d-flex justify-content-around">
        <ngx-avatar facebookId="1508319875"></ngx-avatar>
        <ngx-avatar skypeId="1508319875"></ngx-avatar>
        <ngx-avatar gravatarId="adde9b2b981a8083cf084c63ad86f753"></ngx-avatar>
        <ngx-avatar name="John Doe"></ngx-avatar>
      </div>
    </mat-card>


    <mat-card class="mt-3 mb-3">
      <h5>Swiper Slider</h5>
      <swiper [config]="config" [(index)]="index">
        <div class="bg-danger" style="height: 100px; ">
          Slide 1
        </div>
        <div class="bg-secondary" style="height: 100px; ">
          Slide 2
        </div>
        <div class="bg-success" style="height: 100px; ">
          Slide 3
        </div>
      </swiper>
    </mat-card>


    <mat-card class="mt-3 mb-3">
      <h5>Syntax Highlighter</h5>

      <pre><code highlight [textContent]="tsCode"></code></pre>
    </mat-card>


  </div>
</div>
