<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
            <tr 
            *ngFor="let entity of entities" 
            (click)="selectEntity(entity)"
            [class.selected]="entity?.id == selectedEntityId" >
                <td scope="row"> {{ entity.id }} </td>
                <td *ngFor="let column of columns">
                        {{entity[column]}}
                </td>                
            </tr>
    </tbody>
</table> -->

<div class="d-flex flex-column">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
      
   
        <table mat-table [dataSource]="dataSource" matSort> 
        <ng-container *ngFor="let column of displayedColumns" cdkColumnDef={{column}}>
            <th mat-header-cell *cdkHeaderCellDef mat-sort-header> {{column | titlecase}} </th>
            <td mat-cell *cdkCellDef="let row"> {{row[column]}} </td>
        </ng-container> 
            
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedRowId == row.id}"
        (click)="selectEntity(row) ; highlight(row)"></tr>
        

        <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedRowId == row.id}"
         (click)="SelectItem(row) ; highlight(row)"></mat-row> -->



        </table>
        <mat-paginator class="mt-auto justify-self-end" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
     
</div>
