table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


  .highlight{
    background:  rgb(245, 245, 245); /* green */
  }

  .mat-row:hover {
    background-color: #e0e0e0;
}
.mat-row {
  cursor: pointer;
}