
$brand-box-bg-color: transparent !default;
$brand-width: 250px  !default;
$brand-height: 85px !default;


// https://www.mydirectplan.com/assets/mdpLogo.svg
// brand ** move the theme file
// $brand-logo-img : '../brand/mdplogo.svg';
$brand-bg-color: #fff;
// $brand-box-bg-color: #fff;
$brand-width: 100% ;
$brand-height: 95px;





// $brand-logos: (  
// // (logoName fileName extension max-width max-height width height), 
//  (logo1 mdplogo svg "" "" 300px 50px) ,  
//  (logo2 247dark png 200px "" "" 50px)
// );

// @each $logo, $path , $ext ,  $max-width , $max-height , $width , $height in $brand-logos {  
//     .#{$logo} {
//         text-indent: -99999px;
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;
//         max-width: unquote($max-width);
//         max-height: unquote($max-height);
//         width: unquote($width);
//         height: unquote($height);
//         background-image: url('../img/#{$path}.#{$ext}');
//     }
//   }


.brand a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -99999px;
}
.brand-box {
    background-color: $brand-box-bg-color;
    padding: 10px 8px;
}