// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.small-button {
  font-size: 13px;
  padding: 0 4px !important;
  min-width: 5px !important;
  line-height: 26px !important;
  .mat-icon {
    font-size: 16px;
    height: auto;
    width: auto;
  }
}
