.user-dropdown {
    img {
        border-radius: 50%;
        width: 32px;
        margin-bottom: 3px;
    }
    .display-name {
        font-size: 13px;
        line-height: 12px;
        text-align: center;
        margin: 0 5px;
    }
}