// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.fixed-header {
  top: 0;
  position: sticky;
  z-index: 999;
}

.header {
  opacity: .94;
}
