mat-sidenav-container {
  height: 100%;
  width: 100%;

  .wrapper {
    z-index: -2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    .toolbar {
      position: fixed;
      width: 100%;
      z-index: 1;
      flex: 0 0 auto;

      .nav-button {
        margin: 0 10px 0 0;
      }

      mat-icon {
        font-size: 24px;
      }

      .branding {
        cursor: pointer;
        padding-top: 4px;

        &.center {
          text-align: center;
        }

        img {
          position: relative;
          top: -2px;
          width: 48px;
          height: 48px;
        }
      }



      @media (max-width: map-get($grid-breakpoints, lg)) {
        .nav-button {
          min-width: 0;
          padding: 0 10px;
        }
        .sign-in-button {
          min-width: 0;
          padding: 0 10px;
          margin: 0 5px 0 0;
        }
      }
    }

    .content {
      padding-top: 64px;
      flex: 1 0 auto;
      position: relative;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .content {
        padding-top: 56px;
      }
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
      z-index: 1;

      .row {
        padding: 10px 0;

        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;

            &:hover {
              text-decoration: none;
            }

            mat-icon {
              font-size: 30px;
              width: 35px;
            }

            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 3px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }

          @media (min-width: map-get($grid-breakpoints, lg)) {
            a {
              padding: 20px 10px;
            }
          }

          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;

              span {
                width: 0;
                padding: 0;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {

        }
      }
    }
  }
}

mat-sidenav {
  width: 250px;

}







h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.background {
  padding: 80px 0 0 0;
  position: relative;

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;


    a {
      margin: 0 5px 10px 0;



      mat-icon {
        position: relative;
        top: 4px;
      }
    }
  }

  .get-started {
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 0.9em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: url('../../../assets/intro.jpg') no-repeat center top;
    background-color: #aeaeae;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}



@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .actions {
      margin: 50px 0;
    }
    .get-started {
      width: auto;
    }
  }

}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 40px auto;
    }
  }


}
