
        <mat-list-item   (click)="toggle()" [class.active]="activeItem == '/'+item.route"> 
            <a class="w-100 h-100 d-flex align-items-center"
            (click)="onSelectItem(item)">
            <span class="icon-holder mr-3" ><mat-icon >{{item.icon}}</mat-icon></span>
            <span>{{item.title}}</span>
            </a>
            <span *ngIf="item.children">
                    <mat-icon  *ngIf="expanded" >keyboard_arrow_up</mat-icon>
                    <mat-icon  *ngIf="!expanded" >keyboard_arrow_down</mat-icon>
            </span>
        </mat-list-item>
    
    
        <mat-nav-list class="sub-menu w-100 p-0" *ngIf="item.children"
        [class.expanded]="expandedChange | async" [@bodyExpansion]="getExpandedState()">
                <a *ngFor="let item of item.children" 
                mat-list-item class="pl-5" 
                (click)="onSelectItem(item)"
                >{{item.title}}</a>
        </mat-nav-list>

